// Custom variables for theming
@import "fonts";
@import "variables";
@import "mixins";

// Bootstrap import
@import "~bootstrap/scss/bootstrap";

// Global styles
html,
body,
#main {
  display: flex;
  flex: 1 1 100%;
  min-height: 100%;
}

div {
  display: inherit;
  flex: 0 0 auto;
}
